pkgbase = chaotic-mirrorlist
	pkgdesc = Chaotic-AUR mirrorlist to use with Pacman
	pkgver = 20230304
	pkgrel = 2
	url = https://aur.chaotic.cx
	arch = any
	license = GPL
	backup = etc/pacman.d/chaotic-mirrorlist
	source = mirrorlist
	sha256sums = 930d4a15eaecb1157636170697b929ce1181707d19564fdc5b003e0e4711f26b

pkgname = chaotic-mirrorlist
