pkgbase = chaotic-mirrorlist
	pkgdesc = Chaotic-AUR mirror list to use with Pacman
	pkgver = 20211118
	pkgrel = 2
	url = https://aur.chaotic.cx
	arch = any
	license = GPL
	backup = etc/pacman.d/chaotic-mirrorlist
	source = mirrorlist
	sha256sums = 7593285af3f526c3b679ec4be3c8092e36f557b2493381ccdc26df4ce583d427

pkgname = chaotic-mirrorlist
